/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
  
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}
  
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
  
.container{
    width: 80%;
    height: 70%;
    user-select: none;
    /* background-color: grey; */
    display: flex;
    position: relative;
    border: 4px solid white;
}
  
.description{
    padding: 10px 5px;
    color: white;
    position: absolute;
    right: 15%;
    bottom: 0;
    text-align: right;
    background-color: #222;
    width: 85%;
    opacity: 0.8;
}

.description:hover{
    opacity: 1;
}

.description > *{
    padding: 0px 10px;
    opacity: 1;
}

.description h2{
    text-align: right;
    padding-bottom: 10px;
}
  
.img_full{
    flex-grow: 1;
    height: 100%;
    width: 400px;
}
  
.img_small{
    width: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
}
  
.img_small > div{
    height: 20%;
    opacity: 50%;
    border: 2px solid white;
  }
  
.img_small > div.active{
    opacity: unset;
    border: 2px solid gold;
}
  
.prev, .next {
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    background-color: rgba(128, 128, 128, 0.5);
    color: black;
    border: none;
    cursor: pointer;
    z-index: 3;
    opacity: 1;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
  
.next{
    bottom: 0;
}